<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                voluptatibus.
            </p>

            <p class="footer__help-text">最新のコーヒー情報をチェック！</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Email address" />
                <button class="btn btn--primary">ニュースを受け取る</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Shop</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">すべてのカテゴリー</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">ファッションセール </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">最新の家電ディール</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">ホーム＆リビング特集 </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">美容のお買い得情報</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">お問い合わせ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">店舗検索</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">注文状況</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">企業情報</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">カスタマーサービス</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">ご利用条件</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">プライバシー</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">採用情報</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">概要 </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">アフィリエイト</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">お問い合わせ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">メール</p>
                    <a href="mailto:contact@grocerymart.com" class="footer__link"> contact@grocerymart.com </a>
                </li>
                <li>
                    <p class="footer__label">ホットライン</p>
                    <a href="tel:18008888" class="footer__link">18008888</a>
                </li>
                <li>
                    <p class="footer__label">連絡先住所</p>
                    <p class="footer__text">〒100-0001 東京都千代田区千代田1-1</p>
                </li>
                <li>
                    <p class="footer__label">受付時間</p>
                    <p class="footer__text">M - F 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart.TranMinhHiep</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
